.lead {
    max-width: 984px;
    margin: 0 auto 90px;
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}