.header {
    max-width: 1184px;
    display: flex;
    margin: 28px auto 56px;
    justify-content: space-between;
    align-items: end;
}

@media screen and (max-width: 1280px) {
    .header {
        width: 93%;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: 90.9%;
        margin: 28px auto 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 94%;
    }
}

@media screen and (max-width: 425px) {
    .header {
        margin-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 90%;
    }
}