.cover {
  max-width: 1184px;
  margin: 0 auto 92px;
  display: flex;
}

@media screen and (max-width: 425px) {
  .cover {
    max-width: 425px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    gap: 0;
    margin-bottom: 64px;
  }
}
