.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    grid-row: 1;
    justify-self: center;
    z-index: 3;
    margin: 0 auto;
    padding: 245px 0 32px;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding-top: 205px;
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        padding-top: 115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}