.footer {
    max-width: 1184px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 89px auto 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 288px;
        grid-template-columns: 100%;
        margin-top: 0;
    }
}