.footer {
    max-width: 1184px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin: 89px auto 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding-top: 64px;
    }
}