.footer {
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-content: space-between;
    padding: 89px 0 24px;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 90.625%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
    }
}